@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@media only screen and (min-width: 1322px) {
  aside {
    position: relative;
  }

  .sidebar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background: #2a9d8f;
    font-family: "Montserrat", sans-serif;
  }

  .navbar {
    position: relative;
    text-align: left;
    padding: 0;
    display: block;
  }

  .nav-element {
    display: block;
    list-style-type: none;
    color: white;
    width: 100%;
  }
  .nav-element:hover {
    background-color: #47e2d03f;
    color: white;
  }
  .nav-element:active {
    background-color: #264653;
  }

  .navbar-mobile {
    max-height: 0;
    overflow: hidden;
  }

  .link-tag {
    text-decoration: none;
    color: white;
  }
  .link-tag:hover {
    color: white;
  }
  .link-tag:active {
    color: #e9c46a;
  }

  .text-navbar-router {
    padding-left: 0 !important;
    padding: 2rem;
  }

  .text-navbar-router-dropdown {
    padding-left: 0 !important;
    padding: 0.8rem;
  }

  .navbar-icon {
    margin: 0;
    padding: 0;
    height: 1rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }

  .dropdown-incidents-li {
    background-color: #82fff013;
    font-size: 0.9rem;
  }
  .dropdown-incidents-li:hover {
    background-color: #47e2d03f;
  }

  .separation {
    background-color: #e9c56a69;
    height: 1px;
    width: 95%;
  }

  #navbar-desktop-logo {
    height: 6rem;
  }

  #dropdown-incidencias {
    cursor: pointer;
  }

  #avatar {
    position: absolute;

    bottom: 0.7rem;

    width: 100%;
  }
  #avatar-button {
    background-color: transparent;
    padding: 0;
    border: none;
    background: none;
  }
  #avatar-icon {
    height: 2.6rem;
    margin-left: 1rem;
  }
  #avatar-menu {
    background-color: #264653;
    color: white;
    height: 100% !important;
    padding: 1rem;
    margin-left: 10px;
    font-size: 1.1rem;
    width: 60%;
  }
  #cross {
    color: black;
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 1321px) {
  svg {
    height: 2rem;
    width: 2rem;
  }

  button {
    margin-left: auto;
  }

  nav {
    background-color: black;
    height: 4rem;
  }

  .sidebar {
    display: none;
  }

  .nav-element-mobile {
    list-style-type: none;
    padding: 1rem;
    width: 100%;
    color: black;
  }
  .nav-element-mobile:hover {
    background-color: #47e2d03f;
    color: red;
  }
  .nav-element-mobile:active {
    background-color: #47e2d03f;
    color: red;
  }

  #offcanvas-navbar {
    background-color: #2a9d8f;
  }

  #home-link {
    margin-top: 4rem;
  }
}
