@media only screen and (min-width: 801px) {
  .sidebar {
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color: #2a9d8f;
  }

  .navbar {
    position: relative;
    text-align: left;
    padding: 0;
    display: block;
  }

  .nav-element {
    list-style-type: none;
    padding: 1rem;
    width: 100%;
    color: black;
  }
  .nav-element:hover {
    background-color: #47e2d03f;
  }
  .navbar-mobile {
    max-height: 0;
    overflow: hidden;
  }
}

@media only screen and (max-width: 800px) {
  svg {
    height: 2rem;
    width: 2rem;
  }

  button {
    margin-left: auto;
  }

  #offcanvas-navbar {
    width: 100vw;
  }
  nav {
    background-color: black;
    height: 4rem;
  }
  .sidebar {
    display: none;
  }
}
