.list-group-item {
  background-color: #264653;
  color: white;
}
#titlecardprofile {
  color: #2a9d8f;
}
#title {
  color: #2a9d8f;
}

#inputprofile {
  background-color: #2a9d8f;
  color: white;
  font-weight: 500;
  border-style: groove;
  border-color: white;
  border-radius: 5px;
  padding: 7px;
}
#updateboton {
  text-align: center;
}
#divselect {
  width: 400px;
  margin-left: 22px;
}

#select {
  color: white;
  background-color: #264653;
}
#titleselect {
  font-size: medium;
}
#margin_boton_profile {
  text-align: center;
  margin-top: 10px;
}
