@media only screen and (min-width: 1322px) {
  .footer {
    position: fixed;
    width: 85%;
    right: 0;
    bottom: 0;
    background-color: #264653;
    color: white;
    text-align: center;
  }
  #footer-separation {
    width: 84%;
    float: right;
    min-height: 2rem;
  }
}

@media only screen and (max-width: 1321px) {
  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #264653;
    color: white;
    text-align: center;
  }
  #footer-separation {
    min-height: 2rem;
  }
}
