body{
    background-color: rgb(172, 175, 171);
    font-family: 'Montserrat', sans-serif;
}
#card{
    border-radius: 20px;
    background-color:white;
    font-weight: 300;
    color: rgb(127, 126, 143);
    
}

#title{
    color: white; 
    font-weight: 400;
    font-size: xx-large;

}
#boton{
    padding: 10px;
    background-color:green;
    border: none;
    color: white;
    font-weight: 500; 
}

