#settings-icon {
  height: 2rem;
  margin-left: 0.5rem;
}

#avatar {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}
#avatar-button {
  background-color: transparent;
  padding: 0;
  border: none;
  background: none;
}

#avatar-menu {
  position: absolute;
  bottom: 3rem;
  left: 0.8rem;
  background-color: #264653;
  color: white;
  font-size: 1.1rem;
  width: 50%;
}
#cross {
  color: black;
  margin-left: 1rem;
  margin-right: 0.3rem;
  float: right;
}
