body {
  font-family: "Montserrat", sans-serif;
}
.card {
  background-color: #264653;
  font-weight: 300;
  color: white;
}

#title {
  color: #2a9d8f;
  font-weight: 400;
  font-size: xx-large;
}
#boton {
  background-color: #2a9d8f;
  color: white;
  font-weight: 300;
  border-radius: 10px;
}
